@import "../node_modules/bulma/bulma.sass";

.question-interface {
    min-height: 100vh;
    position: relative;
}

.w-100 {
    width: 100%;
}

.h-100 {
    min-height: 100%;
}

.is-link {
    cursor: pointer;
    color: $info;
    text-decoration: underline;
}

.z-10 {
    z-index: 10 !important;
}

.answer-highlight {
    background-color: #ffff00;
}

.sidebar {
    position: relative;

    &--content {
        position: fixed;
        top: 0;
        bottom: 0;
        width: inherit;
        overflow-y: scroll;
        background-color: #fff;

        &::-webkit-scrollbar {
            width: 5px;

            &-thumb {
                background-color: $info;
                border-radius: 5px;
            }
        }
    }
}

.nav {
    height: 100px;

    &--link {
        color: #000;

        &--buttons {
            $button: 85px;
            height: $button;
            width: $button;
            border-radius: 5px;
            border: 1px solid #ffffff00;
        }

        &:hover &--buttons {
            backdrop-filter: blur(6px) saturate(200%);
            -webkit-backdrop-filter: blur(11px) saturate(200%);
            background-color: #b2c3d880;
            border: 1px solid #ffffff20;
            transition: 0.1s ease-in-out;
        }
    }
}

.choices {
    position: relative;

    &--delete {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.notification-area {
    position: absolute;
    bottom: 0;
    right: 0;
}

.backup {
    text-decoration: underline;
}

.reading-files {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delete--item {
    position: absolute;
    right: 0;
}

.small-drawer-button {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
}

.close-drawer {
    position: absolute;
    right: 0;
    display: none;
}

@media screen and (max-width: 1023px) {
    .small-drawer {
        margin-left: -100%;
    }

    .settings-mobile-sidebar-hide {
        display: none !important;
    }

    .small-drawer-button {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: block;
            width: 80%;
            height: 5px;
            background-color: $link;
            position: relative;

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-color: $link;
                margin-top: -10px;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-color: $link;
                margin-top: 15px;
            }
        }
    }

    .close-drawer {
        display: block;
    }

    .small-main-interface {
        width: 100% !important;
        position: relative;
    }

    .open {
        margin-left: 0 !important;
        transition: 0.5s cubic-bezier(0.41, 0.01, 0.54, 0.98);
    }

    .close {
        margin-left: -100 !important;
        transition: 0.5s cubic-bezier(0.41, 0.01, 0.54, 0.98);
    }

    .mobile--small {
        font-size: 15px;
    }
}

.logo-area {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .home-cta {
        justify-content: center !important;
    }
}
